img {
    height : 200px;
}
table, td, th {
    border: 5px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: blue;
    color: white;
}
tr:hover {background-color: purple
}
body {background-color: lightblue
}
